@font-face {
  font-family: NeueHaasGroteskDisp Pro;
  font-style: normal;
  font-weight: 500;
  src: local('NeueHaasGroteskDisp Pro'),url(https://raw.githubusercontent.com/stagnansi/nhg/main/NHaasGroteskDSPro-55Rg.otf) format('opentype')
}

@font-face {
  font-family: NeueHaasGroteskDisp Pro;
  font-style: italic;
  font-weight: 500;
  src: local('NeueHaasGroteskDisp Pro'),url(https://raw.githubusercontent.com/stagnansi/nhg/main/NHaasGroteskDSPro-56It.otf) format('opentype')
}


@font-face {
  font-family: NeueHaasGroteskDisp Pro;
  font-style: normal;
  font-weight: 600;
  src: local('NeueHaasGroteskDisp Pro'),url(https://raw.githubusercontent.com/stagnansi/nhg/main/NHaasGroteskDSPro-65Md.otf) format('opentype')
}

@font-face {
  font-family: NeueHaasGroteskDisp Pro;
  font-style: italic;
  font-weight: 600;
  src: local('NeueHaasGroteskDisp Pro'),url(https://raw.githubusercontent.com/stagnansi/nhg/main/NHaasGroteskDSPro-66MdIt.otf) format('opentype')
}

@font-face {
  font-family: NeueHaasGroteskDisp Pro;
  font-style: normal;
  font-weight: 700;
  src: local('NeueHaasGroteskDisp Pro'),url(https://raw.githubusercontent.com/stagnansi/nhg/main/NHaasGroteskDSPro-75Bd.otf) format('opentype')
}

@font-face {
  font-family: NeueHaasGroteskDisp Pro;
  font-style: italic;
  font-weight: 700;
  src: local('NeueHaasGroteskDisp Pro'),url(https://raw.githubusercontent.com/stagnansi/nhg/main/NHaasGroteskDSPro-76BdIt.otf) format('opentype')
}

@font-face {
  font-family: NeueHaasGroteskDisp Pro;
  font-style: normal;
  font-weight: 800;
  src: local('NeueHaasGroteskDisp Pro'),url(https://raw.githubusercontent.com/stagnansi/nhg/main/NHaasGroteskDSPro-95Blk.otf) format('opentype')
}

@font-face {
  font-family: NeueHaasGroteskDisp Pro;
  font-style: italic;
  font-weight: 800;
  src: local('NeueHaasGroteskDisp Pro'),url(https://raw.githubusercontent.com/stagnansi/nhg/main/NHaasGroteskDSPro-96BlkIt.otf) format('opentype')
}

@font-face {
  font-family: NeueHaasGroteskDisp Pro;
  font-style: normal;
  font-weight: 900;
  src: local('NeueHaasGroteskDisp Pro'),url(https://raw.githubusercontent.com/stagnansi/nhg/main/NHaasGroteskDSPro-95Blk.otf) format('opentype')
}

@font-face {
  font-family: NeueHaasGroteskDisp Pro;
  font-style: italic;
  font-weight: 900;
  src: local('NeueHaasGroteskDisp Pro'),url(https://raw.githubusercontent.com/stagnansi/nhg/main/NHaasGroteskDSPro-96BlkIt.otf) format('opentype')
}
